.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.content{
  padding-left: 16%;
  padding-right: 16%;
}
.main{
  width: 25%;
  position:relative;
  margin-left: auto;
  margin-right: auto;

}
.bigheader{
  font-size: 65px;
}
P.maintitle{
  font-size: 20px;
}
.information{
  font-size: 18px;
  position:static;
  display: none;
  color: black;
  background: white;
  padding: 12px;
  position: absolute;
}
input{
  font-size: 18px;
}
.first-half {
    float: left;
    width: 50%;
}
.second-half {
    float: right;
    width: 50%;
}
html{
  background-image: url("../images/backgroundimgMountian.jpg");
}
.submit{
  position: static;
  margin-left: auto;
  margin-right: auto;
}
