body{
    background-image: url("../images/background9-16-16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.button {
  border-radius: 4px;
  background-color: #F0AD00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button + span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.content{
  margin-left: 0%;
  margin-right: 0%;
}

P.maintitle{
  font-size: 20px;
}
.information{
  font-size: 18px;
  position:absolute;
  display: none;
  color: black;
  background: white;
  padding: 12px;
  position: absolute;
}
.donationAMT{
  font-size: 72px;
  color: black;
  background: white;
  width: auto;
}
input{
  font-size: 18px;
}
#banner {
    position:static;
    top: 0px;
    left: 16%;
    right: 16%;
    width: 100%;
    height: 10px;
    z-index: -1;
    padding: 1%;
}

.headertable {
  text-align: center;
}

header{
  position: absolute;
}

.bigheader{
  font-size: 4em;
  margin-top: 10%;
  position:relative;
  color: white;
}

.left-right {
    overflow:hidden;
    height:200px;
    width:200px;
    position:relative;
    background-color:#333;
}
.slider {
    width:200px;
    height:200px;
    position:absolute;
    top:0;
    right:-200px;
    background-color:#000;
    color:#fff;
}
.donation{
  font-size: 2.0em;
  visibility:collapse;
  color: white;
}

.page1{
  font-weight: 300;
  background-color: #D3D3D3;
  position: relative;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-top: -10px;
}

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 1px;
}

[type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: 5em;
  height: 1.25em;
  vertical-align: -0.25em;
  border-radius: .2em;
  margin-right: -50%;
  transition: 0.5s ease all;
  background-color: #1D3665;
}

[type="radio"]:checked + span::before {
  background-color: #BDBDBD;
  box-shadow: 0 0 0 0.25em #000;
}

.donationAMT{
  font-size: 32px;
}

label.radio {
    min-width: 110px;
}

.pagetable{
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 30px;
}

.endbutton{
  font-size:16px; color:white; line-height: 24px; padding: 5px 15px; border-radius: 3px;background-color: #1d3665;
    background-image: -moz-linear-gradient(bottom, #1d3665 0%, #1d3665 100%);
    background-image: -ms-linear-gradient(bottom, #1d3665 0%, #1d3665 100%);
    background-image: -webkit-linear-gradient(bottom, #1d3665 0%, #1d3665 100%);
    background-image: linear-gradient(bottom, #1d3665 0%, #1d3665 100%);
}

.toggle-on.btn {
  padding-right: 10px;
}

.toggle-off.btn {
  padding-left: 14px;
}

.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 0;
  border-width: 0 1px;
  visibility: hidden;
}

.toggle-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.toggle-off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.quick .toggle-group {
  transition: none; -webkit-transition: none;
}

.btn {
  max-width: 75px;
}

.btn-primary {
    color: #fff;
    background-color: #25487d;
    border-color: #357ebd;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #25487d;
    background-color: #fff;
    border-color: #adadad;
}

@media (max-width: 1024px) {
  .button {
    width: 200px;
  }
  .donation {
    font-size: 2em;
  }
  .bigheader{
    font-size: 4em;
    margin-top: 10%;
  }

}

@media (max-width: 768px) {
  .button {
    width: 180px;
  }
  .donation {
    font-size: 1.5em;
  }
  .bigheader{
    font-size: 3em;
    margin-top: 15%;
  }
}
